<img src="/assets/images/Footer background.jpg" alt="" id="circle-part" />
<footer>
  <div id="partners">
    <a href="https://fondzanauku.gov.rs/" id="FZN-link" target="_blank"
      ><img src="/assets/images/FZN empty.png" alt="Fond za nauku logo"
    /></a>
    <a href="https://iaus.ac.rs/" id="IAUS-link" target="_blank"
      ><img src="/assets/images/IAUS empty.png" alt="IAUS logo"
    /></a>
    <a href="https://gef.bg.ac.rs/" id="GF-link" target="_blank"
      ><img src="/assets/images/UBGEF empty.png" alt="Geografski fakultet logo"
    /></a>
    <a href="https://www.tfbor.bg.ac.rs/" id="TFB-link" target="_blank"
      ><img
        src="/assets/images/TFBor empty.png"
        alt="Tehnicki fakultet Bor logo"
    /></a>
    <a href="https://ifdt.bg.ac.rs/" id="IFDT-link" target="_blank"
      ><img src="/assets/images/IFDT empty.png" alt="IFDT logo"
    /></a>
  </div>
  <p id="footer-text">{{ site.data.translations[page.lang].footer_notice }}</p>
  <div id="contact-div">
    <address id="physical-address">
      {{ site.data.translations[page.lang].footer_contact_label }}<br />
      {{ site.data.translations[page.lang].footer_address_street }}<br />
      {{ site.data.translations[page.lang].footer_address_city }}<br />
      {{ site.data.translations[page.lang].footer_email }}
    </address>
    <address id="website-info" style="text-align: right">
      <li>
        <a
          href="https://www.facebook.com/profile.php?id=61559019407001"
          target="_blank"
          ><img
            src="/assets/images/Facebook logo.png"
            alt="Facebook logo"
            class=""
        /></a>
        <a href="https://www.instagram.com/minipart_prizma/" target="_blank"
          ><img
            src="/assets/images/Instagram logo.png"
            alt="Instagram logo"
            class=""
        /></a>
        <a href="https://www.linkedin.com/company/minipart/" target="_blank"
          ><img
            src="/assets/images/LinkedIn logo.png"
            alt="LinkedIn logo"
            class=""
        /></a>
      </li>
      <br />
      {{ site.data.translations[page.lang].footer_design }}<br />
      {{ site.data.translations[page.lang].footer_website }}<br />
      {{ site.data.translations[page.lang].footer_copyright }}
    </address>
  </div>
  <div id="below-address"></div>
</footer>
