<header>
  <div id="menu-div">
    <div class="responsive-elements">
      <div class="logo-box">
        <img
          src="/assets/images/Minipart logo.png"
          alt="Minipart logo"
          id="minipart-logo"
        />
      </div>
      <div class="menu-toggle" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <div class="flags-container">
        <a href="#"
          ><img
            src="/assets/images/Serbian flag.png"
            alt="Srpska zastava"
            class="flags"
        /></a>
        <a href="#"
          ><img src="/assets/images/UK flag.png" alt="Uk zastava" class="flags"
        /></a>
      </div>
    </div>
    <nav class="navigation">
      <ul>
        <li>
          <a href="/index.html"
            ><img
              src="/assets/images/home icon.png"
              alt="Home icon"
              class="flags"
              id="home-icon"
          /></a>
        </li>
        <li><a href="/about-project.html">О пројекту</a></li>
        <li><a href="/team.html">Тим</a></li>
        <li><a href="/results.html">Резултати</a></li>
        <li><a href="/open-science.html">Отворена наука</a></li>
        <li><a href="/news.html">Вести</a></li>
        <li><a href="/contact.html">Контакт</a></li>
      </ul>
    </nav>
  </div>
  <h1>
    <span id="yellow-span">МИНИПАРТ</span><br /><span class="h1-span-mobile"
      >Унапређење учешћа јавности</span
    ><br /><span class="h1-span-mobile">у просторном планирању</span><br /><span
      class="h1-span-mobile"
      >рударских региона</span
    >
  </h1>
</header>
