<header style="background-image: url('{{ page.header_image | relative_url }}')">
  <div id="menu-div">
    <div class="responsive-elements">
      <div class="logo-box">
        <img
          src="/assets/images/Minipart logo.png"
          alt="Minipart logo"
          id="minipart-logo"
        />
      </div>
      <div class="menu-toggle" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      {% include lang-switcher.html %}
    </div>
    <nav class="navigation">
      <ul>
        <!-- Home icon -->
        <li>
          <a href="{% if page.lang == 'en' %}/en/{% else %}/{% endif %}">
            <img
              src="/assets/images/home icon.png"
              alt="Home icon"
              class="flags"
              id="home-icon"
            />
          </a>
        </li>

        <!-- About -->
        <li>
          <a
            href="{% if page.lang == 'en' %}/about-project.html{% else %}/o-projektu.html{% endif %}"
          >
            {{ site.data.translations[page.lang].about }}
          </a>
        </li>

        <!-- Team -->
        <li>
          <a
            href="{% if page.lang == 'en' %}/team.html{% else %}/tim.html{% endif %}"
          >
            {{ site.data.translations[page.lang].team }}
          </a>
        </li>

        <!-- Results -->
        <li>
          <a
            href="{% if page.lang == 'en' %}/results.html{% else %}/rezultati.html{% endif %}"
          >
            {{ site.data.translations[page.lang].results }}
          </a>
        </li>

        <!-- Open Science -->
        <li>
          <a
            href="{% if page.lang == 'en' %}/open-science.html{% else %}/otvorena-nauka.html{% endif %}"
          >
            {{ site.data.translations[page.lang].open_science }}
          </a>
        </li>

        <!-- News -->
        <li>
          <a
            href="{% if page.lang == 'en' %}/news.html{% else %}/vesti.html{% endif %}"
          >
            {{ site.data.translations[page.lang].news }}
          </a>
        </li>

        <!-- Contact -->
        <li>
          <a
            href="{% if page.lang == 'en' %}/contact.html{% else %}/kontakt.html{% endif %}"
          >
            {{ site.data.translations[page.lang].contact }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
  {% if page.translation_key == "home" %}
  <h1>
    <span id="yellow-span"
      >{{ site.data.translations[page.lang].homepage_title_1 }}</span
    ><br />
    <span class="h1-span-mobile"
      >{{ site.data.translations[page.lang].homepage_title_2 }}</span
    ><br />
    <span class="h1-span-mobile"
      >{{ site.data.translations[page.lang].homepage_title_3 }}</span
    ><br />
    <span class="h1-span-mobile"
      >{{ site.data.translations[page.lang].homepage_title_4 }}</span
    >
  </h1>
  {% else %}
  <h1>{{ page.header_title }}</h1>
  {% endif %}
</header>
