<div class="flags-container">
  {% if page.lang == 'sr' %} {% assign lang_url = "" %} {% case page.url %} {%
  when '/' %}{% assign lang_url = '/en/' %} {% when '/kontakt.html' %}{% assign
  lang_url = '/en/kontakt.en.html' %} {% when '/o-projektu.html' %}{% assign
  lang_url = '/en/about-project.html' %} {% when '/tim.html' %}{% assign
  lang_url = '/en/team.html' %} {% when '/rezultati.html' %}{% assign lang_url =
  '/en/results.html' %} {% when '/otvorena-nauka.html' %}{% assign lang_url =
  '/en/open-science.html' %} {% when '/vesti.html' %}{% assign lang_url =
  '/en/news.html' %} {% when '/kontakt.html' %}{% assign lang_url =
  '/en/contact.html' %} {% else %}{% assign lang_url = '/en/' %} {% endcase %}

  <a href="#" class="active-flag">
    <img src="/assets/images/Serbian flag.png" alt="Srpski" class="flags" />
  </a>
  <a href="{{ lang_url }}">
    <img src="/assets/images/UK flag.png" alt="English" class="flags" />
  </a>

  {% else %} {% assign lang_url = "" %} {% case page.url %} {% when '/en/' %}{%
  assign lang_url = '/' %} {% when '/en/kontakt.en.html' %}{% assign lang_url =
  '/kontakt.html' %} {% when '/en/about-project.html' %}{% assign lang_url =
  '/o-projektu.html' %} {% when '/en/team.html' %}{% assign lang_url =
  '/tim.html' %} {% when '/en/results.html' %}{% assign lang_url =
  '/rezultati.html' %} {% when '/en/open-science.html' %}{% assign lang_url =
  '/otvorena-nauka.html' %} {% when '/en/news.html' %}{% assign lang_url =
  '/vesti.html' %} {% when '/en/contact.html' %}{% assign lang_url =
  '/kontakt.html' %} {% else %}{% assign lang_url = '/' %} {% endcase %}

  <a href="{{ lang_url }}">
    <img src="/assets/images/Serbian flag.png" alt="Srpski" class="flags" />
  </a>
  <a href="#" class="active-flag">
    <img src="/assets/images/UK flag.png" alt="English" class="flags" />
  </a>
  {% endif %}
</div>
